/*===============================================
Default css
===============================================*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Bariol';
    src: url('../fonts/BariolBold-Italic.woff2') format('woff2'), url('../fonts/BariolBold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol-Bold.woff2') format('woff2'), url('../fonts/Bariol-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/ComicSansMS.woff2') format('woff2'), url('../fonts/ComicSansMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/ComicSansMS.woff2') format('woff2'), url('../fonts/ComicSansMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/ComicSansMS-Italic.woff2') format('woff2'), url('../fonts/ComicSansMS-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/ComicSansMS.woff2') format('woff2'), url('../fonts/ComicSansMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/ComicSansMS-Bold.woff2') format('woff2'), url('../fonts/ComicSansMS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/ComicSansMS-BoldItalic.woff2') format('woff2'), url('../fonts/ComicSansMS-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    margin: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.section_padding {
    padding: 100px 0;
}

.section_heading {
    text-align: center;
}

.section_heading h2 {
    position: relative;
}

.section_heading h2:after {
    position: absolute;
    content: "";
}

.section_heading h2:before {
    position: absolute;
    content: "";
}

.section_heading p {}

.container {
    max-width: 1280px;
}


/*=================================================================
				Start Main css
=================================================================*/


/* Header area design  */

.header_area_design {
    background: -webkit-gradient(linear, left top, right top, from(#EA2C30), color-stop(#EA2C30), to(#AC1D20));
    background: -o-linear-gradient(left, #EA2C30, #EA2C30, #AC1D20);
    background: linear-gradient(to right, #EA2C30, #EA2C30, #AC1D20);
    padding: 20px 0;
    border-radius: 0 0 60px 60px;
    -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999999;
}

.header_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header_logo a {
    padding: 0 10px;
}

.main_logo {
    padding-right: 30px !important;
}

.header_logo img {
    max-height: 70px;
}

.menu_area_design {}

.top_menu {
    margin-bottom: 4px;
}

.top_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 15px;
}

.top_menu ul li {
    padding: 0 11px;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
}

.top_menu ul li a {
    color: #FFF;
    font-weight: 300;
    font-size: 14px;
    border-left: 1px solid #FFF;
    padding-left: 17px;
    line-height: normal;
    text-transform: capitalize;
}

.top_menu ul li:last-child {
    padding-right: 0;
}

.bottom_menu {}

.bottom_menu ul {
    text-align: right;
}

.bottom_menu ul li {
    display: inline;
    position: relative;
}

.bottom_menu ul li a {
    color: #FFF;
    font-weight: 300;
    font-size: 14px;
    padding: 7px 11px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
}

.bottom_menu ul>li:hover>a {
    opacity: 0.8;
}

.bottom_menu ul li:last-child a {
    padding-right: 0;
}

.bottom_menu ul li a i {
    padding-left: 5px;
}

.bottom_menu ul ul {
    position: absolute;
    z-index: 999;
    background: #cf2529;
    width: 194px;
    text-align: center;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    top: 23px;
    display: none;
}

.bottom_menu ul ul li {
    display: block;
}

.bottom_menu ul ul li a {
    display: block;
    padding: 7px 0 !important;
}

.bottom_menu ul>li:hover ul {
    display: block;
}


/* End Header area design  */


/* Banner area design  */

.banner_area_design {
    padding: 110px 0;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.banner_con {}

.top_banner {}

.top_banner img {
    width: 90%;
}

.top_banner span {
    display: block;
    font-family: 'Bariol';
    font-style: italic;
    font-weight: bold;
    font-size: 37px;
    padding-left: 29px;
    margin: 9px 0;
}

.link_a {}

.link_a a {
    width: 86%;
    display: block;
    background: #353b68;
    color: #FFF;
    text-align: center;
    border-radius: 50px;
    font-size: 24px;
    line-height: normal;
    padding: 8px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.link_b {
    margin-top: 34px;
}

.link_b a {
    max-width: 500px;
    display: block;
    position: relative;
    padding: 10px 0;
    background: red;
    border-radius: 11px;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
    z-index: 1;
    width: 100%;
}

.link_b a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    z-index: -1;
    top: 0;
    left: 0;
    background: #EA2C30;
}

.link_b a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    z-index: -1;
    bottom: 0;
    left: 0;
    background: #BA1319;
}

.all_b_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    margin-top: 24px;
}

.b_single_con {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.b_single_con h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
}

.b_single_con p {
    font-size: 14px;
    line-height: normal;
    color: #FFF;
    font-weight: 300;
}

.banner_con a {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.banner_con a:hover {
    opacity: 0.8;
}

.sponsor_co_sponsor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px;
}

.single_sponsor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.single_sponsor h5 {
    font-family: 'Comic Sans MS';
    color: #1D1D1B;
    font-size: 18px;
}

.s_im {}

.s_im a {
    padding: 0 5px;
}

.s_im img {
    max-height: 59px;
}

.main {
    overflow: hidden;
}

.single_sponsor:last-child {
    padding-left: 35px;
}

.banner_after {
    position: absolute;
    right: -16%;
    width: 68%;
    height: 95%;
    bottom: 0;
}

.banner_after img {
    width: 100%;
    height: 100%;
}

.tc {
    position: absolute;
    right: 2%;
    bottom: 5%;
    z-index: 9999;
    color: #000;
    font-weight: 700;
    font-style: italic;
}


/* End Banner area design  */


/* Humberger Menu  */

#menu__toggle {
    opacity: 0;
    position: absolute;
}

#menu__toggle:checked~.menu__btn>span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.hamburger-menu {
    display: none;
}

.mobile_b_image {
    display: none;
    text-align: center;
    margin-bottom: 31px;
}

.mobile_b_image img {
    max-width: 500px;
    width: 86%;
}


/* End Humberger Menu  */


/* Event area design  */

.event_area_design {
    padding: 53px 0;
    padding-bottom: 0;
    overflow: hidden;
}

.all_events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.single_event {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.single_event:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
}

.top_event_con {
    height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -22px;
}

.top_event_con h3 {
    text-align: center;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
}

.top_event_con span {
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.top_event_con h2 {
    font-size: 32px;
    color: #FFF;
    font-weight: 700;
}

.bottom_event_con {
    width: 100%;
    border-radius: 25px;
    height: 195px;
    padding: 57px 10px;
    text-align: center;
    padding-bottom: 0;
}

.bottom_event_con a {
    font-size: 17px;
    color: #58595B;
    font-weight: 700;
}

.bottom_event_con h6 {
    font-size: 17px;
    color: #58595B;
}

.bottom_event_con span {
    font-size: 13px;
    margin-top: 9px;
    display: block;
    font-weight: 300;
}

.bottom_event_con h4 {
    font-size: 17px;
    font-weight: 700;
    color: #58595B;
    padding: 26px;
}

.e_all_con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.e_single {
    padding: 10px 12px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.e_single span {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
}

.e_single:nth-child(3)::after {
    position: absolute;
    content: "";
    background: #F5E6BF;
    width: 100%;
    height: 99%;
    z-index: -1;
    left: 0;
    top: 0;
}

.e_single:nth-child(1):after {
    position: absolute;
    content: "";
    background: #F5E6BF;
    width: 97%;
    height: 99%;
    z-index: -1;
    top: 0;
    left: 4%;
    border-radius: 20px 0 0 20px;
}

.e_single p {
    font-size: 14px;
    line-height: normal;
    font-weight: 300;
}

.e_single p a {
    font-weight: 300;
    font-size: 14px;
}

.e_single h6 {
    font-size: 16px;
    font-weight: 300;
}

.bottom_event_con2 {
    padding-top: 37px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}


/* progress */

.progress {
    margin: 20px auto;
    padding: 0;
    width: 270px;
    overflow: hidden;
    background: #E0E0E0;
    border-radius: 50px;
    height: 27px;
    border: 2px solid #EA2C30;
    position: relative;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #EA2C30;
}

.percent {
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    z-index: 99;
}


/* End Progress  */


/* End Event area design  */


/* Daily area design  */

.daily_area_design {
    padding: 80px 0;
    overflow: hidden;
    padding-bottom: 18px;
}

.daily_title {
    text-align: center;
}

.daily_title h1 {
    color: #353A68;
    font-size: 37px;
    font-weight: 700;
}

.daily_title h6 {
    font-size: 20px;
    color: #353A68;
    font-weight: 300;
    margin: 8px 0;
}

.daily_title h6 span {
    width: 111px;
    height: 1px;
    background: #353A68;
    display: inline-block;
    margin: 5px 10px;
}

.daily_title p {
    font-weight: 300;
    font-size: 17px;
}

.daily_title p b {
    display: block;
    font-weight: 400;
}

.all_daily {
    width: 90%;
    margin: 0 auto;
    margin-top: 38px;
}

.daily_items {
    margin-top: 32px;
}

.daily_img {
    text-align: center;
}

.daily_img img {
    width: 86%;
}

.daily_con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 38px;
}

.daily_con a {
    border: 2px solid #EA2C30;
    height: 51px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F1F1F2;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.daily_con a:hover {
    background: #EA2C30;
    color: #FFF;
}

.earn {
    width: 47px;
    height: 47px;
    background: #EA2C30;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 35px;
}

.earn img {}

.sin:first-child {}

.sin:first-child .daily_img img {
    width: 98%;
}


/* End Daily area design  */

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}


/* copyright css  */

.copyright_area_design {
    padding: 20px 0;
}

.copy_text {
    text-align: center;
}

.copy_text p {
    color: #000;
    font-size: 17px;
}

.bann_img {
    width: 100%;
}


/* End Copyright css  */